html, body {
	min-height: 100% !important;
	height: 100%;
	width: 100%; 
	margin: 0; 
}

body {
	margin: 0px;
}

#main_page {
	height: 85%;
}

#chat_log {
	width: 100%;
	border-spacing: 0px;
	word-wrap: break-word;
}

table#chat_log tr.chatmessage:nth-child(even) {
	background-color: #EEFFEE;
}

table#chat_log tr.chatmessage:nth-child(odd) {
	background-color: #DDEEDD;
}

table#chat_log tr.newuser {
	background-color: #DDDDDD;
}

.Username {
	font-weight: bold;
}

#top_bar div {
	display: inline-block;
}

#chat_log_div {
	height: 83%;
	max-height: 83%;
	width: 30%;
	max-width: 30%;
	word-wrap: break-word;
	
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	
	background-color: #F9F9F9;
	
	border: 1px;
	border-color: #E9E9E9;
	border-style: solid;
	margin: 1%;
	
	display: inline-block;
	position: fixed;
}

#chat_log_wrapper {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column-reverse;
	overflow-y:auto;
}

#top_bar {
	height: 10%;
	padding: .5%;
	
	background-color: #F0F0FF;
}


#chat_map_div {
	height: 100%;
	float: right;
	width: 67%;
	/* background-image: url(https://i.imgur.com/OkK8Dkh.jpg); */
	background-image: url(Beach_Overview_Cropped2.jpg);
	background-size: 100% 100%;
}

#chat_map {
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: center;
}

.chat_box {
	position: absolute; 
	background-color: rgba(245, 255, 245, 0.6);
	width: 200px; 
	height: 50px;
	animation-name: fade-in;
	animation-duration: 4s;
	opacity: 0;
}

@keyframes fade-in {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
