<!Doctype html>
<html>

<head>
	<title> Chat Room </title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('connection_event');
    });
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='chatroom.js') }}" defer></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
</head>

<body>
	<div id="top_bar">
		<div>
			<span style="font-weight: bold;"> User: </span>
			{% if g.cur_user %}
				<span> {{ g.cur_user["Username"] }} </span> <br>
			{% else %}
				<span> Anonymous </span> <br>
			{% endif %}
			<input type="text" placeholder="Message" id="comment_box" autocomplete="off" maxlength=500>
			<input type="submit" value="Send" onclick="sendMessage()">
		</div>
		<div style="float: right;">
			{% if g.cur_user %}
				<span> <a href="/logout">Log out</a> </span>
			{% else %}
				<span> <a href="/login">Log in</a> </span> <br>
				<span> <a href="/register">Register</a> </span>
			{% endif %}
		</div>
	</div>
	<div id="chat_log_div">
		<table id="chat_log"> </table> 
	</div>
</body>

</html>